.navbar-container {
  background-image: transparent;
  display: flex;
  position: fixed;
  padding: 5px 5px 5px 0px;
  width: 100%;
  z-index: 100;
}
.navbar-newContainer {
  background-image: linear-gradient(to right, #320a51, #45166a);
  display: flex;
  position: fixed;
  padding: 5px 5px 5px 0px;
  width: 100%;
  z-index: 100;
  top: 0; /* Position the navbar at the top of the page */
  overflow: hidden;
}
.items-container {
  left: 10px;
}
.items-container li {
  display: inline-block;
}
.logo-container {
  position: absolute;
  right: 40px;
}
.btn:hover {
  background-color: #9a1bad;
  padding: 3px 13px;
  border-radius: 15px;
  border: 1px outset #d88ae4;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}
.active {
  background-color: #9a1bad;
  padding: 3px 13px;
  border-radius: 15px;
  border: 1px outset #d88ae4;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}
.button {
  text-decoration: none;
  margin-right: 20px;
  color: white;
  font-weight: 500;
  cursor: pointer;
  white-space: nowrap;
  text-overflow: ellipsis;
}
